@font-face {
	font-family: "Comic Sans MS";
	src: url(../fonts/Comic\ Sans\ MS.ttf);
}	

body {
	font-family: "Comic Sans MS";
}

.weather-title {
	text-align: center;
    border-bottom: 1px solid black;
	padding: 20px;
	background-color: rgb(233, 233, 233);
}

.weather-title::before {
	content: "☁️";
}

.weather-title::after {
	content: "☁️";
}

.weather-form-btn {
	border-radius: 10px;
	margin-top: 15px;
	padding: 6px;
	border-bottom: 1px solid black;
	background-color: rgb(241, 241, 241);
	color: black;
}

.weather-form-btn:disabled {
	background-color: rgb(233, 233, 233);
	color: rgb(185, 185, 185);
}

.weather-form-desc {
	text-align: center;
	height: 21px;
	flex-grow: 2;
}

.weather-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}

.weather-form-input {
	color: black;
}

.first {
	margin-top: 20px;
}

.second {
	width: 225px;
	margin-top: 5px;
	border: 1px solid black;
	border-radius: 7px;
}